#box{
 margin: auto;
 border-color: grey;
 border-style: outset;
 box-shadow: 6px 5px 5px 1px lightgrey;
 width: 300px;
 padding: 15px;
}
.picture{
  height: 200px;
  width: 300px; 
  border-style: solid;
  border-width: 1px;
}
ul{
  padding: 0 8px;
  list-style-type: none;
}
.list{
  color:#ea19c0;
  font-weight: bold;
}
.fact{
  margin: auto;
	font-style: italic;
  padding: 0.2em;
}
#InsideBox{
  margin-top: 10px;
	border: 1px;
	border-color: lightgrey;
	border-style: inset;
	width: 280px;
	padding: 10px;
}
.para{
  padding: 0.2em;
}
